/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.logo img {
    max-width: 100%;
    max-height: 80px; /* Adjust the height as needed */
}

nav {
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
	font-size: 25px;
}

/* Same styles as before */

/* Style slideshow */
.slideshow {
    position: relative;
    width: 75%;
    margin: 0 auto; /* Center the slideshow horizontally */
    height: 400px;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Style footer */

footer {
    width: 100%; /* Added to span the full width */
    text-align: center; /* Center-align the text */
    margin-top: 20px;
    padding: 10px 0;
    background-color: #f2f2f2;
	position: fixed; /* Set the footer position as fixed */
    left: 0;
    bottom: 0;
    height: 10px;
}

.container {
    display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
  height: 100vh;
}

.frame {
    background-color: #f2f2f2;
    width: 200px;
    padding: 20px;
    height: 100%;
}

.frame ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.frame ul li {
    margin-bottom: 10px;
}

.frame ul li a {
    text-decoration: none;
    color: #333;
	font-size: 25px;
}

.frame1 {
    background-color: #f2f2f2;
    width: 200px;
    padding: 20px;
    height: 100%;
}

.frame1 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.frame1 ul li {
    margin-bottom: 10px;
}

.frame1 ul li a {
    text-decoration: none;
    color: #333;
	font-size: 25px;
}
.menu-content {
    margin-top: 10px;
  width: 100%;
}

.menu-section {
    display: none;
	margin-top: 10px;
}

.menu-section img {
 display: block;
    width: 100%;
    height: auto;
}

#food-menu {
    display: block;
}
 
.event-content {
     margin-top: 10px;
  width: 100%;
}

.event-section {
    display: none;
	margin-top: 10px;
}

.event-section img {
    max-width: 100%;
	width: 100%;
    height: auto;
}

#current-events {
    display: block;
}

.contact-us-content {
    margin-left: 20px;
    flex: 1; /* Added to expand to available space */
    display: flex; /* Added to create a flex container */
    justify-content: flex-end;
	margin-top: 10px;
	margin-left: 30px;
    }
.contact-us-section {
   
}
#map {
    height: 300px; /* Set the height for the Google Maps container */
}


.about-us-content {
    margin-left: 20px;
    flex: 1; /* Added to expand to available space */
    display: flex; /* Added to create a flex container */
    justify-content: flex-end;
	margin-top: 10px;
	margin-left: 30px;
    }

.about-us-section img {
    max-width: 25%;
    height: auto;
}
@media (max-width: 768px) {
    .container {
    flex-direction: column;
    align-items: center;
	margin-top: 0px;
    }
	.logo {
		    margin-bottom: 0px;
	}
    .frame {
        display: none;
        
    }
	.about-us-content {
		margin-top: 10px;
	}
	.contact-us-content{
		margin-top: 10px;
	}
	.frame1 {
        flex-direction: column;
        align-items: center;
		height:auto;
		width:100%;
        text-align: center;
		
    }
	.frame1 ul li {
    display: inline-block;
	margin-right: 10px;
	 margin-left: 10px;
}
	.frame1 ul li a {
	font-size: 23px;
}

    .menu-content {
       width: 100%;
    }

    .menu-section {
        display: none;
		margin-top: 10px;
		width: 100%;
		text-align: center;
    }
	 .menu-section img {
        margin-top: 10px; /* Added margin to separate images vertically */
		display: block;
        margin: 0 auto;
    }
	
	#food-menu {
    display: block;
}
   .event-content {
       width: 100%;
    }

    .event-section {
        display: none;
		margin-top: 10px;
		width: 100%;
		text-align: center;
    }
	 .event-section img {
        margin-top: 10px; /* Added margin to separate images vertically */
		display: block;
        margin: 0 auto;
    }


.about-us-content{
	width: 100%;
}
.about-us-section img {
	width: 100%;
}
    #map {
        height: 200px; /* Adjust the height of the map container for smaller screens */
    }

    main {
        width: 100%;
    }

    main h1 {
        text-align: center; /* Center the heading on smaller screens */
    }
	.slideshow {
        width: 100%;
    }
}
@media (min-width: 769px) {
  .container {
    display: grid;
    grid-template-columns: 200px auto;
    grid-gap: 20px;
    margin-top: 0px;
    height: 100vh;
  }

  .menu-content {
    margin-top: 0;
	margin-left:20px
  }
  .event-content {
    margin-top: 0;
	margin-left:20px
  }
}